.container {
	margin: 0 auto;
	padding: 0 $padding;
    width: 100%;
    height: 100%;
    max-width: $desktop-lg - $padding * 2;
    
    @include media(mobile-only) {
        padding: 0 $mobile-padding;
        max-width: 100%;
    }

    @include media(tablet-only) {
        max-width: $tablet;
    }

    @include media(desktop-small) {
        max-width: $desktop;
    }

    @include media(desktop-only) {
        padding: 0;
    }
}