@font-face {
	font-family: "iconfont";
	src:url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	display: inline-block;
	font-family: "iconfont";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lg {
	font-size: 1.3333333333333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
	width: 1.2857142857142858em;
	text-align: center;
}

.icon-arrow-down:before {
	content: "\EA01"
}
.icon-arrow-left:before {
	content: "\EA02"
}
.icon-arrow-right:before {
	content: "\EA03"
}
.icon-bag:before {
	content: "\EA04"
}
.icon-bin:before {
	content: "\EA05"
}
.icon-box:before {
	content: "\EA06"
}
.icon-calendar:before {
	content: "\EA07"
}
.icon-chat:before {
	content: "\EA08"
}
.icon-chemic:before {
	content: "\EA09"
}
.icon-close:before {
	content: "\EA0A"
}
.icon-discount:before {
	content: "\EA0B"
}
.icon-edit:before {
	content: "\EA0C"
}
.icon-ellipse:before {
	content: "\EA0D"
}
.icon-email:before {
	content: "\EA0E"
}
.icon-exit:before {
	content: "\EA0F"
}
.icon-facebook:before {
	content: "\EA10"
}
.icon-facebook2:before {
	content: "\EA11"
}
.icon-factory:before {
	content: "\EA12"
}
.icon-google:before {
	content: "\EA13"
}
.icon-grinder:before {
	content: "\EA14"
}
.icon-instagram:before {
	content: "\EA15"
}
.icon-lock-alt:before {
	content: "\EA16"
}
.icon-minicart:before {
	content: "\EA17"
}
.icon-parts:before {
	content: "\EA18"
}
.icon-phone:before {
	content: "\EA19"
}
.icon-plate:before {
	content: "\EA1A"
}
.icon-search:before {
	content: "\EA1B"
}
.icon-support:before {
	content: "\EA1C"
}
.icon-truck:before {
	content: "\EA1D"
}
.icon-user2:before {
	content: "\EA1E"
}
.icon-water:before {
	content: "\EA1F"
}
.icon-wishlist:before {
	content: "\EA20"
}