.body {
	.no-scroll & {
		overflow: hidden;
	}
}

.header, .main, .footer {
	.modal-opened & {
		filter: blur(3px);
	}
}

.wrapper {
	.no-scroll & {
		height: 100%;
		overflow-y: scroll;
	}
}

.main {
	background-color: $white;

	&--grey {
		background-color: $grey-light;
	}
}

.title {
	h1 {
		font-family: $serif;
		font-size: 30px;
		line-height: 24px;
		font-weight: $bold;
		margin: 0;

		@include media(mobile-only) {
			font-size: 24px;
			line-height: 30px;
		}
	}
}

%titleBlock {
	margin-bottom: 50px;

	@include media(tablet-only) {
		margin-bottom: 40px;
	}

	@include media(mobile-only) {
		margin-bottom: 30px;
	}
}
