.breadcrumbs {
	padding-top: 80px;
	margin-bottom: 30px;

	&__list {
		line-height: 14px;
		font-size: 0;

		* {
			font-size: 14px;
		}
	}

	&__item {
		display: inline-block;
		color: $blue-secondary;

		& + * {
			padding-left: 18px;
			position: relative;

			&::before {
				content: '/';
				position: absolute;
				left: 7px;
				top: 50%;
				transform: translateY(-50%);
				color: $blue-secondary;
				font-weight: $regular;
			}
		}

		&--current {
			color: $blue-primary;
			font-weight: $semi-bold;
			pointer-events: none;
		}
	}
}
