.button {
	padding: 17px 30px;
	font-size: 14px;
	line-height: 16px;
	color: $white;
	border-radius: 80px;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;

	@include media(mobile-only) {
		padding: 12px 40px;
	}

	&--primary:not(.otherselector) {
		background-color: $red;
	}

	&--secondary:not(.otherselector) {
		background-color: $blue-secondary;
	}
}
