.productCard {
	display: flex;
	border-radius: 10px;
	border: 1px solid $grey-border;

	&__picture {
		width: 60px;
		height: 60px;
		margin-right: 10px;
		border-radius: 5px;
		border: 1px solid $grey-light;
		padding: 2px;
		flex: 0 0 60px;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__description {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__title {
		line-height: 16px;
	}

	&__price {
		color: $blue-secondary;
		align-self: flex-end;
	}

	&__quantity {
		align-self: flex-end;
	}
}

.cartTile {
	padding: 10px 30px;
	display: grid;
	background-color: $white;
	grid-template-columns: 40px 180px auto 10% 25% 40px;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	
	@include media(desktop-only) {
		grid-template-rows: 1fr 1fr;
		column-gap: 20px;
	}

	@include media(tablet-only) {
		grid-template-columns: 40px 180px auto 25% 40px;
	}

	@include media(mobile-only) {
		grid-template-columns: 60px 1fr 1fr 1fr 1fr .5fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		padding: 10px;
		gap: 10px;
	}

	&__number {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		font-size: 16px;

		@include media(tablet-only) {
			grid-column: 1 / 2;
			grid-row: 1 / 4;
		}

		@include media(mobile-only) {
			display: none;
		}
	}
	
	&__pic {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		width: 180px;
		height: 180px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		@include media(tablet-only) {
			grid-column: 2 / 3;
			grid-row: 1 / 4;
		}

		@include media(mobile-only) {
			height: 60px;
			width: 60px;
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			border: 1px solid $blue-secondary;
			border-radius: 4px;
		}
	}

	&__img {

	}

	&__name {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		justify-self: start;

		@include media(tablet-only) {
			grid-column: 3 / 5;
			grid-row: 1 / 2;
		}

		@include media(mobile-only) {
			grid-column: 2 / 6;
			grid-row: 1 / 3;
			align-self: start;
		}
	}

	&__product {
		color: $blue-secondary;
		display: block;
		margin-bottom: 10px;

		@include media(mobile-only) {
			font-size: 10px;
			margin-bottom: 3px;
		}
	}

	&__title {
		font-family: $serif;
		font-size: 24px;
		line-height: 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2; /* number of lines to show */
		
		@include media(tablet-only) {
			-webkit-line-clamp: 1; 
		}
		
		@include media(mobile-only) {
			font-size: 14px;
			line-height: 1;
		}
	}
	
	&__price {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		justify-self: start;

		@include media(mobile-only) {
			grid-column: 2 / 6;
		}

		@include media(mobile-only) {
			align-self: end;
		}
	}

	&__priceCurrent {
		color: $red;
		font-weight: $bold;
		font-size: 20px;

		@include media(mobile-only) {
			font-size: 14px;
			margin-right: 10px;
		}		
	}

	&__priceOld {
		color: $blue-secondary;
		font-weight: $regular;
		text-decoration: line-through;

		@include media(not-mobile) {
			display: block;
			margin-bottom: 5px;
		}

		@include media(mobile-only) {
			font-size: 12px;
			line-height: 14px;
			float: right;
		}
	}

	&__counter {
		grid-column: 4 / 5;
		grid-row: 1 / 3;
		height: 50px;
		width: 160px;
		border: 1px solid $blue-secondary;
		border-radius: 80px;
		padding: 0 22px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media(tablet-only) {
			grid-row: 1 / 4;
			width: 115px;
			padding: 11px;
			justify-self: start;
		}

		@include media(mobile-only) {
			grid-column: 1 / 3;
			grid-row: 3 / 4;
		}

		@include media(mobile-only) {
			width: 100px;
			height: 30px;
			padding: 0 8px;
			grid-row: 3 / 5;
			justify-self: start;
		}
	}

	&__counterBtn {
		width: 20px;
		height: 20px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 2px solid $blue-secondary;
		cursor: pointer;
		position: relative;

		@include media(mobile-only) {
			width: 16px;
			height: 16px;
		}

		&::before, &::after {
			content: '';
			display: block;
			width: 10px;
			height: 2px;
			background-color: $blue-secondary;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			@include media(mobile-only) {
				width: 8px;
			}
		}
		
		&::after {
			transform: translate(-50%, -50%) rotate(90deg);
		}

		&--dec {
			&::after {
				content: none;
			}
		}
	}

	&__input {
		width: 70px;
		text-align: center;

		@include media(tablet-only) {
			width: 45px;
		}

		@include media(mobile-only) {
			width: 40px;
		}
	}

	&__sum {
		grid-column: 5 / 5;
		grid-row: 1 / 3;
		font-size: 30px;
		line-height: 24px;
		font-weight: $semi-bold;

		@include media(tablet-only) {
			grid-column: 3 / 5;
			grid-row: 3 / 4;
			justify-self: start;
		}

		@include media(mobile-only) {
			grid-column: 4 / 7;
			grid-row: 3 / 4;
		}

		@include media(mobile-only) {
			font-size: 20px;
			line-height: 1px;
			grid-row: 3 / 5;
		}
	}

	&__delete {
		grid-column: 6 / 6;
		grid-row: 1 / 3;
		width: 40px;
		height: 40px;
		background-color: $grey-light;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		cursor: pointer;

		@include media(tablet-only) {
			grid-column: 5 / 6;
			grid-row: 1 / 4;
		}

		@include media(mobile-only) {
			grid-column: 6 / 7;
			grid-row: 1 / 2;
			justify-self: end;
			align-self: start;
		}

		@include media(mobile-only) {
			height: 18px;
			width: 18px;
			background-color: $transparent;
			padding: 0;
		}
	}
}
