.footer {
	background-color: $white;
	padding-top: 90px;

	&__upper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 40px;
		
		@include media(not-desktop) {
			flex-wrap: wrap;
		}
		
		@include media(tablet-only) {
			margin-bottom: 50px;
		}
		
		@include media(mobile-only) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-size: 18px;
		font-family: $serif;
		margin-bottom: 20px;
		font-weight: $bold;
	}

	&__social, &__generalInfo, &__productList, &__contacts {
		// max-width: calc(100% / 4);
		flex: 0 0 calc(100% / 4);
		
		@include media(tablet-only) {
			flex: 0 0 calc(100% / 3);
		}
		
		@include media(mobile-only) {
			margin-bottom: 20px;
		}
	}

	&__generalInfo, &__productList,{		
		@include media(mobile-only) {
			flex: 0 0 calc(100% / 2);
		}
	}

	&__social, &__contacts {
		@include media(mobile-only) {
			flex: 0 0 auto;
			max-width: 100%;
		}
	}

	&__social {
		overflow: auto;
		
		@include media(tablet-only) {
			margin-left: auto;
		}
		
		@include media(not-desktop) {
			order: 4;
		}
	}

	&__socLink {
		display: block;
		float: left;
		position: relative;
	}

	&__listItem {
		@include transition(color);

		display: block;

		& + * {
			margin-top: 7px;
		}

		&--active {
			color: $red;
		}

		&:first-child {
			.footer__listLink {
				padding-top: 0;
			}
		}

		&:hover {
			color: $red;
		}
	}

	&__listLink {
		display: block;
		padding: 5px 0;

		.footer__listItem--active & {
			cursor: default;
		}
	}

	&__callmeBar, &__email {
		margin-bottom: 30px;

		@include media(tablet-only) {
			margin-bottom: 20px;
		}
	}

	&__email {
		display: block;
	}

	&__emailAddress, &__addressTitle {
		font-family: $serif;
		font-size: 24px;
		font-weight: $bold;
		display: block;
		margin-bottom: 10px;
		
		@include media(not-desktop) {
			font-size: 18px;
			line-height: 20px;
		}
	}

	&__emailDescription, &__schedule {
		color: $blue-secondary;
		display: inline-block;
	}

	&__address {
		display: block;

		@include media(tablet-only) {
			margin-bottom: 20px;
		}
	}

	&__schedule {
		display: inline-block;
		line-height: 20px;
	}

	&__lower {
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;
		font-size: 13px;
		
		@include media(tablet-only) {
			padding-bottom: 30px;
		}

		@include media(mobile-only) {
			flex-wrap: wrap;
			padding-bottom: 25px;
		}
	}

	&__agreement {
		color: $blue-secondary;
		font-size: 13px;
		@include media(mobile-only) {
			order: -1;
			flex: 0 0 100%;
			text-align: center;
			margin-bottom: 18px;
		}
	}
}