.form {
	$b: ".form";
	$inputHeight: 50px;

	&__formGroup {
		margin: 0 auto;
		max-width: 450px;
		position: relative;
		width: 100%;

		& + * {
			margin-top: 40px;

			@include media(not-desktop) {
				margin-top: 30px;
			}
		}

		&--forgotLink {
			margin-top: 20px;

			@include media(tablet-only) {
				margin-top: 30px;
			}
			@include media(mobile-only) {
				font-size: 14px;
				margin-top: 20px;
			}
		}

		&--submit {
			margin-top: 55px;

			@include media(tablet-only) {
				margin-top: 40px;
			}
			@include media(mobile-only) {
				margin-top: 30px;

				.loginModal--revert & {
					margin-top: 20px;
				}
			}

			.loginModal--revert & {
				margin-top: 40px;
			}
		}

		&--checkbox {
			text-align: left;
		}

		#{$b}--subscribe & {
			max-width: 100%;
		}
	}

	&__rememberLink {
		color: $red;
		font-size: 16px;

		@include media(mobile-only) {
			font-size: 14px;
		}
	}

	&__input,
	&__textarea {
		@include transition(all, 0.15s);

		background-color: $grey-light;
		border: 1px solid $grey-light;
		height: 100%;
		width: 100%;

		&:not([type="submit"]):focus {
			background-color: $white;
			border: 1px solid $blue-secondary;
			color: $blue-primary;
		}
	}

	&__input {
		border-radius: 80px;
		height: $inputHeight;
		line-height: $inputHeight;
		padding: 0 65px;

		@include media(mobile-only) {
			$inputHeight: 40px;

			height: $inputHeight;
			line-height: $inputHeight;
			padding: 0 55px;
		}

		&[type="submit"] {
			cursor: pointer;
		}

		#{$b}--subscribe & {
			background-color: $white;
			font-size: 16px;
			padding: 0 210px 0 30px;

			@include media(desktop-only) {
				height: 60px;
				line-height: 50px;
			}

			@include media(tablet-only) {
				padding: 0 175px 0 15px;
			}

			@include media(mobile-only) {
				height: 50px;
				line-height: 50px;
				padding: 0 150px 0 15px;
			}
		}
	}

	&__textarea {
		border-radius: 25px;
		height: 140px;
		padding: 17px 20px;
	}

	&__checkbox {
		display: none;

		&:checked {
			+ #{$b}__label {
				&:after {
					opacity: 1;
					top: 50%;
				}
			}
		}
	}

	&__button {
		font-size: 16px;
		font-weight: 500;
		height: 100%;
		padding: 0 40px;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;

		@include media(tablet-only) {
			padding: 0 30px;
		}

		@include media(mobile-only) {
			padding: 0 20px;
			font-size: 14px;
		}
	}

	&__label {
		color: $blue-secondary;
		cursor: pointer;
		padding-left: 38px;
		position: relative;

		@include media(not-desktop) {
			font-size: 12px;
			line-height: 16px;
			padding-left: 28px;
		}

		&::before,
		&::after {
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			display: block;
			height: 18px;
			left: 0;
			position: absolute;
			transform: translateY(-50%);
			width: 18px;
		}

		&::before {
			border: 2px solid $blue-secondary;
			border-radius: 2px;
			top: 50%;
		}

		&::after {
			@include transition([opacity, top], 0.15s);

			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%234D647A' d='M10 18c-.5 0-1-.2-1.4-.6l-4-4c-.8-.8-.8-2 0-2.8.8-.8 2.1-.8 2.8 0l2.6 2.6 6.6-6.6c.8-.8 2-.8 2.8 0 .8.8.8 2 0 2.8l-8 8c-.4.4-.9.6-1.4.6z'/%3E%3C/svg%3E");
			content: "";
			opacity: 0;
			top: calc(50% - 5px);
		}
	}

	&__icon {
		left: 30px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__errorHint {
		bottom: -10px;
		left: 0;
		position: absolute;
	}
}
