.header {
	$hamburgerStripePos: 15px;
	$hamburgerStripeHeight: 2px;
	$hamburgerStripeRadius: 30px;
	$hamburgerStripeColor: $blue-primary;
	$hamburgerStripeGap: 6px;
	@include media(tablet-only) {
		height: 170px;
	}
	@include media(mobile-only) {
		height: 195px;
	}

	background-color: $dark;
	color: $white;
	height: 180px;

	&__wr {
		@include media(tablet-only) {
			padding-top: 20px;
		}
		@include media(mobile-only) {
			padding-bottom: 10px;
			padding-top: 40px;
		}

		align-items: center;
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		justify-content: space-between;
		padding-bottom: 20px;

		& > * + * {
			margin-left: 25px;
		}
	}

	&__upper {
		@include media(desktop-only) {
			flex: 0 0 100%;
			margin: 0 0 40px 0;
		}
		@include media(not-desktop) {
			order: 0;
		}

		margin-left: 0;
	}

	&__userBar {
		&--mMenu {
			@include media(not-desktop) {
				margin: 0 auto 0 70px;
				order: 0;
			}
			@include media(mobile-only) {
				margin-left: 0;
				order: 4;
			}
		}

		&--mobile {
			@include media(tablet-only) {
				order: 3;
			}
		}
	}

	&__mobileBar {
		@include transition(transform);
		@include media(not-desktop) {
			background-color: $white;
			bottom: 0;
			color: $blue-primary;
			left: 0;
			overflow: hidden;
			padding: 38px 20px;
			position: fixed;
			right: 0;
			top: 0;
			transform: translateX(-100%);
			z-index: 10;
		}
		@include media(mobile-only) {
			padding: 43px 15px 30px;
		}

		&--isactive {
			@include media(not-desktop) {
			}

			transform: translateX(0);
		}
	}

	&__hamburger,
	&__hamburgerClose {
		@include media(desktop-only) {
			display: none;
		}
	}

	&__hamburgerClose {
		@include media(not-desktop) {
			display: flex;
		}
		@include media(mobile-only) {
			left: 15px;
			top: 43px;
		}

		align-items: center;
		background-color: $white;
		border: 1px solid $grey-dark;
		border-radius: 30px;
		height: 35px;
		justify-content: center;
		left: 20px;
		position: absolute;
		top: 38px;
		width: 50px;
	}

	&__hamburger {
		background-color: $white;
		border: 1px solid $blue-secondary;
		border-radius: 30px;
		height: 36px;
		margin-right: 10px;
		position: relative;
		width: 52px;
		z-index: 1;
	}

	&__hamburgerStripe {
		background-color: $hamburgerStripeColor;
		border-radius: 30px;
		display: inline-block;
		height: $hamburgerStripeHeight;
		left: $hamburgerStripePos;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		width: 15px;

		&::before {
			background-color: $hamburgerStripeColor;
			border-radius: $hamburgerStripeRadius;
			content: "";
			display: inline-block;
			height: $hamburgerStripeHeight;
			left: 0;
			position: absolute;
			top: calc(50% - #{$hamburgerStripeGap});
			transform: translate(0, -50%);
			width: 20px;
		}

		&::after {
			background-color: $hamburgerStripeColor;
			border-radius: $hamburgerStripeRadius;
			content: "";
			display: inline-block;
			height: $hamburgerStripeHeight;
			left: 0;
			position: absolute;
			top: calc(50% + #{$hamburgerStripeGap});
			transform: translate(0, -50%);
			width: 20px;
		}
	}

	&__mobileMenu {
		@include media(not-desktop) {
			flex-wrap: wrap;
			height: 100%;
		}

		align-items: center;
		display: flex;
		height: 60px;
		justify-content: flex-end;
	}

	&__navigation {
		@include media(not-desktop) {
			align-items: flex-start;
			flex: 0 0 100%;
			margin-bottom: auto;
			margin-right: 0;
			order: 3;
		}
		@include media(tablet-only) {
			height: 80%;
		}
		@include media(mobile-only) {
			height: 65%;
		}

		margin-right: auto;
	}

	&__navWrapper {
		overflow: auto;
	}

	&__navItems {
		$padding: 10px;
		@include media(not-desktop) {
			display: block;
			float: none;
			font-size: 18px;
		}

		display: inline-block;
		float: left;

		& + * {
			.header__navLink {
				@include media(not-desktop) {
					padding: 30px 0;
				}
				@include media(mobile-only) {
					padding: 20px 0;
				}

				padding: $padding $padding;
			}
		}

		&:first-child {
			.header__navLink {
				@include media(not-desktop) {
					padding: 30px 0;
				}
				@include media(mobile-only) {
					padding: 20px 0;
				}

				padding-right: $padding;
			}
		}

		&--attention {
			color: $red;
		}
	}

	&__logo {
		@include media(not-desktop) {
			order: 1;
		}
		@include media(tablet-only) {
			margin: 0 auto;
			padding-right: 26px;
		}

		margin-left: 0;
	}

	&__navLink {
		display: block;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	&__langBar {
		@include media(not-desktop) {
			order: 5;
		}

		margin-left: 85px;
	}

	&__searchBar {
		@include media(tablet-only) {
			margin: auto auto 0 0;
			max-width: 420px;
			order: 4;
		}
		@include media(mobile-only) {
			flex: 0 0 100%;
			margin: auto auto 0 0;
			max-width: none;
			order: 4;
		}

		flex: 1 1 auto;
		max-width: 570px;
	}

	&__callmeBar {
		@include media(tablet-only) {
			order: 2;
		}

		&--mMenu {
			order: 4;
		}

		&--mobile {
			@include media(mobile-only) {
				flex: 0 0 100%;
				margin: 0 auto;
				order: 3;
				text-align: center;
			}
		}
	}

	&__wishlist {
		@include media(tablet-only) {
			margin-top: auto;
			order: 5;
		}

		&--mMenu {
			@include media(not-desktop) {
				order: 1;
			}
		}
	}

	&__minicart {
		&--mMenu {
			@include media(not-desktop) {
				order: 2;
			}
		}

		&--mobile {
			@include media(tablet-only) {
				margin-left: 15px;
				margin-top: auto;
				order: 6;
			}
			@include media(mobile-only) {
				order: 2;
			}
		}
	}
}

.logo {
	&__wr {
		@include media(tablet-only) {
			height: 50px;
			width: 142px;
		}
		@include media(mobile-only) {
			height: 38px;
			width: 109px;
		}

		height: 60px;
		width: 165px;

		img {
			max-height: 100%;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

.userBar {
	$b: ".userBar";

	align-items: center;
	border: 1px solid $white;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
	padding: 3px 4px;

	&__image,
	&__login,
	&__registration,
	&__separator {
		align-items: center;
		align-self: stretch;
		display: flex;
		padding: 0 5px;

		#{$b}--mMenu & {
			@include media(mobile-only) {
				padding: 0 8px;
			}
		}
	}

	&__login,
	&__registration {
		background-color: transparent;
		color: $white;
		cursor: pointer;

		#{$b}--mMenu & {
			@include media(not-desktop) {
				color: $blue-primary;
			}
		}

		&:focus {
			outline: none;
		}
	}

	&__image {
		height: 24px;
		padding-left: 0;

		#{$b}--mMenu & {
			@include media(mobile-only) {
				height: 36px;
			}
		}
	}

	&__separator {
		padding: 0;

		#{$b}--mMenu & {
			@include media(mobile-only) {
				font-size: 16px;
				padding: 0;
			}
		}
	}

	&--mobile {
		@include media(desktop-only) {
			display: none;
		}
		@include media(not-desktop) {
			border-color: $white;
		}
		@include media(mobile-only) {
			display: none;
		}
	}

	&--mMenu {
		@include media(not-desktop) {
			align-self: flex-start;
			border-color: $grey-dark;
			padding: 5px 4px;
		}
		@include media(mobile-only) {
			font-size: 18px;
			justify-content: flex-start;
			margin: 0 calc(100% - 345px) 0 0;
			width: 345px;
		}
	}
}

.language {
	&__value {
		& + * {
			margin-left: 10px;
		}
		&--active {
			color: $red;
		}
	}

	&--mMenu {
		@include media(not-desktop) {
			margin-left: 0;
		}
	}
}

.searchBar {
	&__wr {
		position: relative;
		z-index: 2;
	}

	&__input {
		@include media(not-desktop) {
			height: 50px;
		}
		@include media(mobile-only) {
			font-size: 14px;
		}

		background-color: $white;
		border: 1px solid $dark;
		border-radius: 30px;
		font-size: 16px;
		height: 60px;
		line-height: 60px;
		padding-left: 30px;
		width: 100%;
	}

	&__button {
		@include transition(background-color);

		background-color: $red;
		border-radius: 30px;
		bottom: -1px;
		cursor: pointer;
		position: absolute;
		right: -1px;
		top: -1px;
		width: 90px;

		&:hover {
			background-color: $red-action;
		}
	}

	&__overlay {
		position: relative;

		&.search-active {
			@include media(not-desktop) {
				background-color: $white;
				bottom: 0;
				left: 0;
				padding: 30px 15px;
				position: fixed;
				right: 0;
				top: 0;
				z-index: 1;
			}
		}
	}

	&__results {
		@include media(not-desktop) {
			border: none;
			border-radius: 0;
			box-shadow: none;
			margin-top: 20px;
			max-height: calc(100% - 70px);
			overflow: auto;
			padding: 0;
			position: static;
		}

		background-color: $white;
		border: 1px solid $grey-light;
		border-radius: 0 0 30px 30px;
		box-shadow: 0px 60px 100px rgba(0, 0, 0, 0.3);
		color: $blue-primary;
		display: none;
		left: 0;
		margin-top: 30px;
		padding: 40px 6px 30px 30px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;

		&.search-active,
		.search-active & {
			display: block;
		}
	}

	&__scrollWrapper {
		@include media(not-desktop) {
			max-height: none;
			padding-right: 0;
		}

		max-height: 475px;
		overflow: auto;
		padding-right: 24px;
	}

	&__item {
		line-height: 40px;
		overflow: auto;
		& + * {
			margin-top: 10px;
		}

		&:not(.searchBar__item--card) {
			padding: 0 15px;
		}
	}

	&__match {
		float: left;

		span {
			font-weight: $semi-bold;
		}
	}

	&__link {
		@include media(mobile-only) {
			display: none;
		}

		color: $blue-secondary;
		float: right;
	}

	&__card {
		@include media(not-desktop) {
			// m
		}

		line-height: 1;
		padding: 10px;
	}

	.simplebar-track {
		&.simplebar-vertical {
			background-color: $grey-light;
			border-radius: 30px;
			width: 6px;

			.simplebar-scrollbar {
				&::before {
					bottom: 0;
					top: 0;
				}
			}
		}
	}

	.simplebar-scrollbar {
		&::before {
			background-color: $red;
			border-radius: 30px;
			left: 0;
			right: 0;
		}
		&.simplebar-visible {
			&:before {
				opacity: 1;
			}
		}
	}
}

.callmeBar {
	$b: ".callmeBar";

	&__wr {
		display: block;
		padding-left: 35px;
		position: relative;

		#{$b}--footer & {
			padding-left: 0;
		}

		#{$b}--mobile & {
			@include media(mobile-only) {
				display: inline-block;
				padding-left: 25px;
			}
		}
	}

	&__number {
		display: block;
		font-family: $serif;
		font-size: 24px;
		font-weight: $bold;
		margin-bottom: 10px;

		#{$b}--footer & {
			@include media(not-desktop) {
				font-size: 18px;
				line-height: 20px;
			}
		}

		#{$b}--mobile & {
			@include media(mobile-only) {
				font-size: 18px;
				margin-bottom: 5px;
			}
		}
	}

	&__subtitle {
		align-items: center;
		color: $red;
		display: flex;

		span {
			margin-right: 10px;
		}

		#{$b}--footer & {
			color: $blue-secondary;
		}

		#{$b}--mobile & {
			@include media(mobile-only) {
				font-size: 10px;
			}
		}
	}

	&__image {
		left: 0;
		position: absolute;
		top: 0;

		#{$b}--mMenu & {
			.icon {
				fill: $blue-primary;
			}
		}
	}

	&--mMenu {
		@include media(desktop-only) {
			display: none;
		}

		display: block;
		margin-right: auto;
	}
}

.wishlist {
	@include media(tablet-only) {
		height: 50px;
		width: 50px;
	}

	align-items: center;
	background-color: $white;
	border-radius: 50%;
	display: flex;
	height: 60px;
	justify-content: center;
	width: 60px;

	&__wr {
		@include qnt(data-quantity) {
			@include media(tablet-only) {
				right: 5px;
				top: 6px;
			}
			@include media(mobile-only) {
				right: 7px;
				top: 6px;
			}

			right: 9px;
			top: 12px;
		}
		@include media(tablet-only) {
			font-size: 12px;
		}
		@include media(mobile-only) {
			font-size: 9px;
		}

		display: inline-block;
		position: relative;
	}

	&--mMenu {
		@include media(desktop-only) {
			display: none;
		}
		@include media(mobile-only) {
			height: 36px;
			width: 36px;
		}

		align-self: flex-start;
		background-color: $cream;
		display: flex;
		margin: 0 0 0 auto;
	}

	&--mobile {
		@include media(mobile-only) {
			display: none;
		}
	}

	.icon {
		vertical-align: middle;
	}
}

.minicart {
	$b: ".minicart";
	@include media(tablet-only) {
		height: 50px;
	}
	@include media(mobile-only) {
		height: 36px;
	}

	height: 60px;

	&__wr {
		align-items: center;
		background-color: $white;
		border-radius: 30px;
		display: flex;
		height: 100%;
		position: relative;

		#{$b}--mMenu & {
			background-color: $cream;
		}
	}

	&__link {
		@include qnt(data-quantity) {
			@include media(tablet-only) {
				right: 20px;
				top: 15px;
			}
			@include media(mobile-only) {
				right: 18px;
				top: 12px;
			}

			border: 3px solid $blue-secondary;
			right: 35px;
			top: 22px;
		}
		@include media(tablet-only) {
			font-size: 12px;
			padding: 0 15px;
		}
		@include media(mobile-only) {
			font-size: 9px;
			padding: 0 13px;
		}
		@include transition(all, 0.15s);

		align-items: center;
		background-color: $blue-secondary;
		border-radius: 30px;
		display: flex;
		height: 100%;
		margin: -1px;
		padding: 0 30px;
		position: relative;

		&.is-active {
			background-color: $red;

			&:after {
				background-color: $white;
				border-color: $red;
				color: $blue-secondary;
			}
		}

		&:after {
			@include transition(all, 0.15s);
		}
	}

	&__sum {
		@include media(tablet-only) {
			font-size: 16px;
		}

		color: $blue-primary;
		display: none;
		font-size: 20px;
		font-weight: $semi-bold;
		margin-left: 15px;
		padding-right: 17px;

		&:before {
			content: attr(data-sum);
		}

		&[data-sum] {
			@include media(mobile-only) {
				display: none;
			}

			display: inline-block;
		}
	}

	&--mMenu {
		@include media(desktop-only) {
			display: none;
		}

		align-self: flex-start;
		display: block;
		margin: 0 0 0 15px;
	}

	&--mobile {
		@include media(mobile-only) {
		}
	}

	.icon {
		vertical-align: middle;
	}

	&__dropdown {
		@include transition("top, opacity", 0.15s);
		@include media(not-desktop) {
			display: none;
		}

		background-color: $white;
		border: 1px solid $blue-secondary;
		border-radius: 30px;
		color: $blue-primary;
		left: 30px;
		opacity: 0;
		padding: 30px;
		position: absolute;
		top: calc(100% + 35px);
		transform: translateX(-50%);
		visibility: hidden;
		width: 330px;

		&.is-active {
			opacity: 1;
			top: calc(100% + 15px);
			visibility: visible;
		}
	}

	&__ddTitle {
		display: block;
		font-size: 18px;
		font-weight: $semi-bold;
		margin-bottom: 30px;
	}

	&__ddText {
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
	}

	&__ddSum {
		font-weight: $semi-bold;
	}

	&__ddCheckout {
		margin-bottom: 20px;
	}

	&__ddCart {
		color: $red;
		display: block;
		text-align: center;
		text-transform: uppercase;
	}
}
