.icon {
	width: 24px;
	height: 24px;

	&-arrow-down {
		width: 15px;
		height: 15px;
	}

	&-wishlist {
		height: 40px;
		width: 40px;

		@include media(not-desktop) {
			height: 25px;
			width: 25px;
		}
	}

	&-minicart {
		width: 40px;
		height: 40px;

		@include media(tablet-only) {
			width: 30px;
			height: 30px;
		}

		@include media(mobile-only) {
			width: 24px;
			height: 24px;
		}
	}

	&-ellipse-red {
		width: 60px;
		height: 60px;
	}

	&-ellipse {
		fill: none;
	}

	&-instagram {
		position: absolute;
		height: 22px;
		width: 22px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&-facebook2 {
		position: absolute;
		height: 20px;
		width: 20px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&-close-menu {
		width: 16px;
		height: 16px;
	}

	&-phone {
		stroke: $white;
		
		.callmeBar--mMenu & {
			stroke: $blue-primary;
		}
		
		.header__callmeBar--mobile & {
			width: 20px;
			height: 20px;
		}
	}

	&-phone-modal {
		stroke: $blue-secondary;
		height: 20px;
		width: 20px;
	}

	&-userbar-mMenu {
		@include media(mobile-only) {
			width: 36px;
			height: 36px;
		}
	}

	&-ellipse {
		width: 100px;
		height: 100px;
	}

	&-factory, &-chemic, &-water, &-plate, &-grinder, &-parts {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		fill: #313131;
		width: 40px;
		height: 40px;
	}

	&-arrow-right, &-arrow-left {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 15px;
		height: 15px;

		.salesGrid__next &, .salesGrid__prev & {
			height: 11px;
			width: 11px;
			filter: invert(1);
		}
	}

	&-box, &-truck, &-discount, &-support {
		width: 80px;
		height: 80px;

		@include media(tablet-only) {
			width: 60px;
			height: 60px;
		}

	}

	&-minicart {
		width: 30px;
		height: 30px;

		.productTile--big & {
			width: 36px;
			height: 36px;
		}

		.productTile--forHP & {
			@include media(mobile-only) {
				width: 20px;
				height: 20px;
			}
		}
	}

	&-cancel-modal {
		@include media(mobile-only) {
			height: 18px;
			width: 18px;
		}
	}
	
	&-google-modal, &-facebook-modal {
		@include media(mobile-only) {
			height: 18px;
			width: 18px;
		}
	}

	&-clear {
		stroke: $white;
	
		@include media(mobile-only) {
			stroke: $blue-secondary;
		}
	}

	&-delete {
		@include media(mobile-only) {
			width: 18px;
			height: 18px;
		}
	}
}
