.modal {
	&__container {
		background-color: $grey-dark;
		border-radius: 20px;
		position: relative;
	}
}

%smallModal {
	background-color: $white;
	padding: 60px 60px 30px;
	position: relative;
	text-align: center;
	width: 450px;

	@include media(tablet-only) {
		padding: 60px 30px 30px;
		width: 360px;
	}
	@include media(mobile-only) {
		padding: 50px 20px 30px;
		width: 345px;
	}
}

%titleModal {
	font-family: $serif;
	font-size: 36px;
	margin-bottom: 20px;

	@include media(tablet-only) {
		font-size: 30px;
	}
	@include media(mobile-only) {
		font-size: 24px;
		line-height: 30px;
	}
}

%textModal {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 40px;

	@include media(not-desktop) {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 30px;
	}
}

%closeModal {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;

	&:before {
		bottom: 0;
		content: "";
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.icon-cancel-modal {
		height: 20px;
		position: relative;
		width: 20px;
	}
}

.loginModal {
	$b: ".loginModal";

	display: flex;
	max-width: 1170px;
	text-align: center;
	width: 100%;

	@include media(tablet-only) {
		max-width: 735px;
	}
	@include media(mobile-only) {
		flex-direction: column;
		max-width: calc(100% - 30px);
	}

	& {
		background-color: $white;
		border-radius: 20px;
		flex: 0 0 50%;
		padding: 30px;
		
		@include media(not-mobile) {
			max-width: 50%;
		}

		@include media(mobile-only) {
			order: 1;
			padding: 20px;
		}
	}

	&__right {
		flex: 0 0 50%;
		padding: 30px 110px;
		
		@include media(not-mobile) {
			max-width: 50%;
		}
		@include media(tablet-only) {
			padding: 30px 20px;
		}
		@include media(mobile-only) {
			padding: 20px;
		}
	}

	&__title {
		@extend %titleModal;

		margin: 60px 60px 50px;

		@include media(tablet-only) {
			margin: 20px 30px 30px;
		}
		@include media(mobile-only) {
			margin: 0 0 20px;
		}
	}

	&__socialBar {
		font-size: 0;
		margin-bottom: 60px;

		@include media(tablet-only) {
			margin-bottom: 30px;
		}
		@include media(mobile-only) {
			margin-bottom: 20px;
		}
	}

	&__item {
		background-color: $grey-dark;
		border: 1px solid $blue-secondary;
		border-radius: 50%;
		display: inline-block;
		height: 50px;
		line-height: 50px;
		width: 50px;

		@include media(mobile-only) {
			border-radius: 80px;
			height: 40px;
			line-height: 40px;
		}

		& + * {
			margin-left: 30px;

			@include media(not-desktop) {
				margin-left: 10px;
			}
		}
	}

	&__soclink {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		line-height: 1;
		vertical-align: middle;
		width: 100%;
	}

	&__text {
		color: $blue-secondary;
		margin-bottom: 50px;

		@include media(tablet-only) {
			font-size: 12px;
			line-height: 14px;
		}
		@include media(not-desktop) {
			margin-bottom: 20px;
		}

		#{$b}--forgotPass & {
			line-height: 16px;
			margin-bottom: 0;
		}

		& + * {
			margin-top: 20px;
		}

		&:last-of-type {
			margin-bottom: 60px;

			@include media(not-desktop) {
				margin-bottom: 20px;
			}
		}
	}

	&__form {
		margin-bottom: 125px;

		@include media(tablet-only) {
			margin-bottom: 50px;
		}
		@include media(mobile-only) {
			margin-bottom: 40px;
		}

		#{$b}--revert & {
			margin-bottom: 50px;
		}

		#{$b}--forgotPass & {
			margin-bottom: 265px;

			@include media(tablet-only) {
				margin-bottom: 105px;
			}
			@include media(mobile-only) {
				margin-bottom: 40px;
			}
		}
	}

	&__privacy {
		color: $blue-secondary;

		@include media(not-desktop) {
			font-size: 12px;
		}
	}

	&__rightTitle {
		font-family: $serif;
		font-size: 36px;
		font-weight: $semi-bold;
		line-height: 40px;
		margin: 200px 0 40px;

		@include media(tablet-only) {
			font-size: 26px;
			line-height: 32px;
			margin: 60px 0 20px;
		}
		@include media(mobile-only) {
			font-size: 24px;
			line-height: 24px;
			margin: 30px 0 20px;
		}
	}

	&__rightSubtitle {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 80px;

		@include media(tablet-only) {
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 60px;
		}
		@include media(mobile-only) {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 25px;
		}
	}

	&__rightButton {
		cursor: pointer;
		margin-bottom: 80px;

		@include media(desktop-only) {
			width: 210px;
		}
		@include media(tablet-only) {
			margin-bottom: 60px;
			width: 175px;
		}
		@include media(mobile-only) {
			margin-bottom: 0;
			width: 225px;
		}
	}

	&__benefits {
		font-weight: $light;
		line-height: 30px;
		line-height: 24px;
		margin-bottom: 80px;

		@include media(tablet-only) {
			margin-bottom: 100px;
		}
		@include media(mobile-only) {
			display: none;
		}
	}

	&__close {
		@extend %closeModal;
	}
}

.callback {
	@extend %smallModal;

	&__title {
		@extend %titleModal;
	}

	&__text {
		@extend %textModal;
	}

	&__close {
		@extend %closeModal;
	}
}

.productAdded {
	@extend %smallModal;

	&__title {
		@extend %titleModal;
	}

	&__text {
		@extend %textModal;

		@include media(tablet-only) {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__close {
		@extend %closeModal;
	}

	&__tile {
		margin-bottom: 50px;

		@include media(not-desktop) {
			margin-bottom: 40px;
		}
	}

	&__pic {
		border: 1px solid $grey-border;
		border-radius: 5px;
		display: block;
		height: 200px;
		margin: 0 auto 15px;
		overflow: hidden;
		width: 200px;
	}

	&__img {
		display: inline-block;
		height: 100%;
		object-fit: contain;
		width: 100%;
	}

	&__subtitle {
		display: inline-block;
		font-size: 12px;
		margin-bottom: 10px;
		width: 100%;
	}

	&__price {
		font-weight: $bold;
	}

	&__goCart {
		display: block;
	}
}

.feedback {
	@extend %smallModal;

	&__title {
		@extend %titleModal;
	}

	&__text {
		@extend %textModal;
	}

	&__close {
		@extend %closeModal;
	}

	&--contactus {
		padding: 0;
		text-align: left;

		@include media(mobile-only) {
			width: 100%;
		}
	}
}

.logout {
	@extend %smallModal;

	padding: 60px 60px 30px;

	&__title {
		@extend %titleModal;
	}

	&__text {
		@extend %textModal;
	}

	&__close {
		@extend %closeModal;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}

	&__yes,
	&__no {
		flex: 0 0 calc((100% - 30px) / 2);
	}
}


.newpass {
	@extend %smallModal;

	&__title {
		@extend %titleModal;
	}

	&__text {
		@extend %textModal;
	}

	&__close {
		@extend %closeModal;
	}
}
