/*
<div class="someCategory__productTile productTile productTile--forHP">
	<picture class="productTile__pic">
		<img src="assets/img/product.jpg" title="" class="productTile__img"></img>
	</picture>
	<h4 class="productTile__title">Кавомашина</h4>
	<p class="productTile__subtitle">Gaggia Classic Pro – Cherry Red </p>
	<ul class="productTile__variation">
		<li class="productTile__option">
			<a class="productTile__optionLink" href="javascript:void(0);">
				<span style="--productTileOption: #31AA52"></span>
			</a>
		</li>
		<li class="productTile__option">
			<a class="productTile__optionLink" href="javascript:void(0);">
				<span style="--productTileOption: #3C79E6"></span>
			</a>
		</li>
		<li class="productTile__option">
			<a class="productTile__optionLink" href="javascript:void(0);">
				<span style="--productTileOption: #FBBD00"></span>
			</a>
		</li>
		<li class="productTile__option">
			<a class="productTile__optionLink" href="javascript:void(0);">
				<span style="--productTileOption: #AA3CD0"></span>
			</a>
		</li>
		<li class="productTile__option">
			<a class="productTile__optionLink" href="javascript:void(0);">
				<span style="--productTileOption: #4D647A"></span>
			</a>
		</li>
		<li class="productTile__option">
			<a class="productTile__optionLink" href="javascript:void(0);">
				<span style="--productTileOption: #EAEAEA"></span>
			</a>
		</li>
	</ul>
	<span class="productTile__oldPrice">14000 ₴</span>
	<span class="productTile__price">14000 ₴</span>
	<a href="#" class="productTile__link">
		<svg class="icon icon-minicart">
			<use xlink:href="#minicart"></use>
		</svg>
	</a>
</div>
*/

.productTile {
	$b: ".productTile";

	background-color: $white;
	border-radius: 10px;
	padding: 20px 15px 25px;
	position: relative;
	text-align: center;

	&__pic {
		display: block;
		height: 0;
		padding-top: 73.77%;
		position: relative;
		margin-bottom: 15px;

		#{$b}--big & {
			@include media(not-mobile) {
				margin-bottom: 50px;
			}
		}
	}

	&__img {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__title {
		font-size: 14px;
		margin-bottom: 5px;
		font-weight: $regular;
		color: $blue-secondary;

		#{$b}--big & {
			@include media(not-mobile) {
				font-size: 16px;
			}
		}

		#{$b}--forHP & {
			@include media(mobile-only) {
				font-size: 12px;
			}
		}
	}

	&__subtitle {
		font-size: 20px;
		line-height: 25px;
		padding: 0 15px;
		font-family: $serif;
		font-weight: $semi-bold;
		margin-bottom: 15px;

		#{$b}--big & {
			@include media(not-mobile) {
				font-size: 24px;
				margin-bottom: 90px;
			}
		}

		#{$b}--forHP & {
			@include media(mobile-only) {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	&__oldPrice {
		color: $blue-secondary;
		display: block;
		font-size: 14px;
		height: 14px;
		margin-bottom: 5px;
		text-align: left;
		text-decoration-line: line-through;
	}

	&__price {
		color: $blue-primary;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		font-size: 20px;
		font-weight: $bold;
		text-align: left;
		margin-bottom: 10px;
		min-height: 39px;

		#{$b}--sales &, #{$b}--outOfStock & {
			color: $red;
		}

		#{$b}--big & {
			@include media(not-mobile) {
				font-size: 30px;
			}
		}
	}

	&__label {
		background-color: $blue-primary;
		border-radius: 0px 80px 80px 0px;
		color: $white;
		display: block;
		font-size: 18px;
		font-weight: $bold;
		left: 0;
		padding: 6px 11px;
		position: absolute;
		text-align: center;
		top: 4%;

		#{$b}--big & {
			@include media(not-mobile) {
				font-size: 24px;
				padding: 13px 15px;
			}
		}
	}

	&__type {
		background-color: $red;
		border-radius: 80px;
		color: $white;
		font-size: 12px;
		padding: 7px 13px;
		position: absolute;
		right: 15px;
		text-transform: uppercase;
		top: 15px;
	}

	&__link {
		position: absolute;
		right: 20px;
		bottom: 20px;
		border-radius: 30px;
		width: 70px;
		height: 50px;
		background-color: $red;
		display: flex;
		justify-content: center;
		align-items: center;

		#{$b}--big & {
			@include media(not-mobile) {
				right: 40px;
				bottom: 40px;
				width: 90px;
				height: 60px;
			}
		}

		#{$b}--forHP & {
			@include media(mobile-only) {
				width: 50px;
				height: 35px;
				right: 10px;
			}
		}
	}

	&--big {
		@include media(not-mobile) {
			padding: 60px 40px 55px;
		}
	}

	&__variation {
		display: none;
		@include media(desktop-only) {
			$height: 20px;
			$bot-padd: 15px;
			$top-padd: 10px;

			opacity: 0;
			height: 0;
			overflow: hidden;
			display: flex;
			justify-content: center;
			padding-bottom: 0;

			#{$b}:hover & {
				@include transition(all);

				opacity: 1;
				height: calc(#{$height} + #{$bot-padd} +#{$top-padd});
				padding-bottom: $bot-padd;
				padding-top: $top-padd;
			}
		}
	}

	&__option {
		@include transition(border-color);

		height: 100%;
		flex: 0 0 30px;
		border: 1px solid $grey-light;
		border-radius: 30px;

		& + * {
			margin-left: 10px;
		}

		&:hover {
			border-color: $blue-primary;
		}
	}

	&__optionLink {
		display: block;
		width: 100%;
		height: 100%;

		span {
			display: block;
			height: 100%;
			border: 3px solid $white;
			background-color: var(--productTileOption);
			border-radius: 30px;
		}
	}
}
