.subscribe {
	background-color: $dark;
	padding: 45px 0;
	margin-bottom: 30px;

	@include media(tablet-only) {
		padding: 50px 65px;
	}

	@include media(mobile-only) {
		padding: 50px 0;
	}
	
	@include media(not-desktop) {
		margin: 30px 0 30px;
	}

	&__wr {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media(not-desktop) {
			flex-direction: column;
		}
	}

	&__text {
		color: $white;
		
		@include media(desktop-only) {
			flex: 0 0 700px;
		}

		@include media(tablet-only) {
			margin-bottom: 30px;
		}

		@include media(mobile-only) {
			margin-bottom: 50px;
		}
	}

	&__title {
		font-size: 36px;
		line-height: 50px;
		font-weight: $bold;
		font-family: $serif;
		margin-bottom: 15px;

		@include media(not-desktop) {
			font-size: 28px;
			line-height: 36px;
		}
	}

	&__subtitle {
		font-size: 20px;
		line-height: 30px;

		@include media(not-desktop) {
			font-size: 18px;
			line-height: 18px;
		}
	}

	&__form {
		@include media(desktop-only) {
			flex: 0 0 570px;
		}

		@include media(tablet-only) {
			width: 100%;
		}
	}
}