.textblock {
	$b: '.textblock';

	color: $black;

	&__header {
		margin-bottom: 40px;

		@include media(desktop-only) {
			margin-bottom: 60px;
			max-width: 65%;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: $bold;
		line-height: 30px;

		@include media(mobile-only) {
			font-size: 20px;
		}
	}

	&__subtitle {
		font-size: 20px;
		font-weight: $medium;
		line-height: 32px;

		@include media(mobile-only) {
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__list {
		overflow: auto;
		margin-bottom: 30px;

		#{$b}--counter_1 & {
			counter-reset: counter_1;
		}

		#{$b}--counter_2 & {
			counter-reset: counter_2;
		}
	}

	&__item {
		@include media(desktop-only) {
			float: left;
			width: calc((100% - 150px) / 2);
		}

		#{$b}__list--light & {
			@include media(desktop-only) {
				float: none;
				width: 70%;
			}
		}

		#{$b}__list--marker & {
			@include media(desktop-only) {
				float: none;
				width: 100%;
			}
		}

		&:nth-child(2n) {
			@include media(desktop-only) {
				margin-left: 150px;
			}

			#{$b}__list--light &,
			#{$b}__list--marker & {
				@include media(desktop-only) {
					margin-left: 0;
				}
			}
		}
	}

	&__itemTitle {
		color: $black;
		display: block;
		line-height: 30px;
		margin-bottom: 30px;

		@include media(mobile-only) {
			font-size: 18px;
		}

		&--attention {
			color: $red;
			font-size: 20px;
			font-weight: $semi-bold;
		}

		&::before {
			margin-right: 5px;

			#{$b}--counter_1 & {
				content: counter(counter_1) ".";
				counter-increment: counter_1;
			}

			#{$b}--counter_2 & {
				content: counter(counter_2) ".";
				counter-increment: counter_2;
			}

			#{$b}__list--marker & {
				background-color: $red;
				border-radius: 4px;
				content: '';
				display: inline-block;
				height: 14px;
				margin-right: 20px;
				vertical-align: middle;
				width: 14px;

				@include media(mobile-only) {
					margin-right: 10px;
				}
			}
		}

		#{$b}__list--light & {
			font-size: 16px;

			@include media(mobile-only) {
				font-size: 14px;
				line-height: 22px;
			}
		}

		#{$b}__list--marker & {
			font-size: 14px;
			line-height: 1;

			@include media(mobile-only) {
				font-size: 13px;
			}
		}
	}

	&__paragraph {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 30px;

		@include media(mobile-only) {
			font-size: 14px;
			line-height: 22px;
		}

		&--bolder {
			font-weight: $semi-bold;
		}

		&--puretext  {
			font-size: 16px;
		}
	}

	&__payAttention {
		color: $red;
		font-size: 14px;
		line-height: 22px;
		max-width: 570px;
	}
}
