html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	font-family: $sans-serif;
	font-size: 14px;
	font-weight: $medium;
	height: 100%;
	color: $blue-primary;
}

.header {
	position: relative;
	flex: 0 0 auto;
	z-index: 1;

	.menu-opened & {
		z-index: 2;
	}
}

.main {
	position: relative;
	flex: 1 0 auto;
	z-index: 1;
}

.footer {
	flex: 0 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
	&:focus {
		color: inherit;
		outline: none;
		text-decoration: none;
	}
}

input,
textarea {
	&::placeholder {
		color: $blue-secondary;
		font-family: $sans-serif;
		font-weight: $medium;
		opacity: 1;
	}

	&:focus {
		&::placeholder{
			color: $blue-primary;
		}
	}
}

textarea {
	resize: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: textfield;
}

object {
	pointer-events: none;
}

img {
	display: block;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	&:focus {
		border: none;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

button {
	color: $blue-secondary;
}