.aboutus {
	margin-bottom: 90px;

	@include media(desktop-only) {
		margin-bottom: 346px;
	}
	@include media(tablet-only) {
		margin-bottom: 140px;
	}

	&__title {
		@extend %titleBlock;
	}

	&__picture {
		@include media(desktop-only) {
			float: right;
			margin: 0 0 70px 11%;
			max-width: 41%;
			width: 100%;
		}
		@include media(tablet-only) {
			margin-bottom: 60px;
		}
		@include media(mobile-only) {
			margin-bottom: 40px;
		}
	}

	&__pic {
		border-radius: 20px;
		display: block;
		overflow: hidden;
	}

	&__image {
		height: 100%;
		width: 100%;
	}

	&__header {
		margin-bottom: 30px;
	}

	&__article {
		line-height: 30px;

		@include media(mobile-only) {
			line-height: 24px;
		}
	}

	&__subtitle {
		font-size: 18px;
		font-weight: $semi-bold;

		@include media(mobile-only) {
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__paragraph {
		font-size: 16px;
		font-weight: $regular;

		@include media(mobile-only) {
			font-size: 14px;
			line-height: 26px;
		}

		& + * {
			margin-top: 30px;
		}
	}
}

.map {
	height: 700px;
	border-radius: 40px 40px 0px 0px;
	overflow: hidden;

	@include media(desktop-only) {
		height: 75vh;
	}

	&__wr {
		position: relative;
		width: 100%;
		height: 100%;
		min-width: 100%;
		min-height: 100%;
	}

	&__body {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0; 
		background-color: lightgreen;
		z-index: 1;
	}

	&__address {
		position: absolute;
		z-index: 1;
		padding: 50px 40px 60px;
		background-color: $white;
		border-radius: 20px;
		font-size: 24px;
		line-height: 32px;
		font-weight: $semi-bold;
		bottom: 30px;
		left: $padding;
		
		@include media(desktop-only) {
			left: calc(50% - (1410px / 2));
			bottom: 60px;
			min-width: 450px;
		}
		
		@include media(tablet-only) {
			min-width: 360px;
			font-size: 18px;
			line-height: 20px;
		}
		
		@include media(mobile-only) {
			left: $mobile-padding;
			width: 100%;
			max-width: calc(100% - #{$mobile-padding} * 2);
		}
	}

	&__location, &__email {
		display: block;
	}

	&__location {
		margin-bottom: 40px;
	}

	&__phones {
		margin-bottom: 30px;

		a {
			display: block;
		}
	}
}