.cart {
	&__title {
		@extend %titleBlock;
	}

	&__summary {
		margin-bottom: 55px;
		display: flex;

		@include media(tablet-only) {
			margin-bottom: 45px;
		}

		@include media(mobile-only) {
			margin-bottom: 35px;
		}
	}

	&__summarySum {
		margin-right: 80px;

		@include media(mobile-only) {
			margin-right: 30px;
		}
	}

	&__summeryQuantity {
		margin-right: auto;
	}

	&__summaryTitle {
		color: $blue-secondary;
		margin-bottom: 5px;

		@include media(mobile-only) {
			font-size: 13px;
		}
	}

	&__summaryText {
		font-size: 30px;
		line-height: 24px;
		font-family: $serif;

		@include media(mobile-only) {
			font-size: 24px;
		}
	}

	&__clear {
		padding: 0 10px 0 0;
		background-color: $cream;
		border-radius: 80px;
		border: 1px solid $blue-secondary;
		cursor: pointer;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		* + * {
			margin-left: 20px;
		}
	}

	&__clearIcon {
		width: 40px;
		height: 40px;
		line-height: 40px;
		justify-content: center;
		align-items: center;
		background-color: $blue-secondary;
		display: inline-flex;
		border-radius: 50%;
		margin: -1px;

		@include media(mobile-only) {
			background-color: $transparent;
		}
	}

	&__clearText {
		&::after {
			@include media(not-mobile) {
				content: attr(data-resp-fix);
				margin-left: 5px;
			}
		}

		@include media(mobile-only) {
			font-size: 13px;
			margin-left: 0;
		}
	}

	&__listWrapper {
		margin-bottom: 60px;

		@include media(tablet-only) {
			margin-bottom: 40px;
		}

		@include media(mobile-only) {
			margin-bottom: 30px;
		}
	}

	&__list {
	}

	&__item {
		border: 1px solid $grey-dark;
		border-radius: 10px;

		& + * {
			margin-top: 30px;

			@include media(not-desktop) {
				margin-top: 10px;
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media(tablet-only) {
			display: block;
		}

		@include media(mobile-only) {
			flex-direction: column;
			max-width: 500px;
			width: 100%;
			margin: 0 auto;
		}
	}

	&__body {
		margin-bottom: 60px;

		@include media(tablet-only) {
			margin-bottom: 90px;
		}

		@include media(mobile-only) {
			margin-bottom: 60px;
		}
	}

	&__checkout,
	&__letsbuy {
		width: 330px;

		@include media(tablet-only) {
			width: 300px;
		}

		@include media(mobile-only) {
			width: 100%;
		}

		& + * {
			margin-left: 30px;

			@include media(tablet-only) {
				margin: 10px 0 0;
			}
		}
	}

	&__letsbuy {
		margin-right: auto;

		@include media(mobile-only) {
			margin: 20px 0 0;
		}
	}

	&__checkout {
		cursor: pointer;

		@include media(mobile-only) {
			margin: 40px 0 0;
		}
	}

	&__summaryBar {
		padding: 30px 100px 30px 30px;
		border: 1px solid $blue-secondary;
		border-radius: 10px;

		@include media(desktop-only) {
			order: 1;
		}

		@include media(tablet-only) {
			float: right;
			padding-right: 70px;
		}

		@include media(mobile-only) {
			width: 100%;
		}
	}

	&__finalSum {
		display: block;
		font-size: 36px;
		font-family: $serif;
	}

	&__quantity {
		color: $blue-secondary;
		font-style: 18px;
		line-height: 24px;
		font-weight: $semi-bold;
	}

	&__text {
		font-size: 24px;
		text-align: center;
		font-weight: $semi-bold;
		margin-bottom: 60px;

		@include media(mobile-only) {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 30px;
		}
	}

	&__emptyImage {
		width: 450px;
		margin: 0 auto 50px;

		@include media(tablet-only) {
			width: 360px;
			margin-bottom: 80px;
		}

		@include media(mobile-only) {
			max-width: 100%;
			margin-bottom: 60px;
		}
	}

	&__emptyPic {
		width: 100%;
		height: 0;
		padding-top: 100%;
		position: relative;
		overflow: hidden;

		svg {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&__goShopingWr {
		text-align: center;
	}

	&__goShoping {
		font-weight: $medium;
	}
}

.empty-animation {
	animation-name: zoom;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
	transform-origin: center;
}

@keyframes empty-cart-transfotm {
	0% {
		transform: translate(0, 0);
	}
	1% {
		transform: translate(0, 3px);
	}
	2% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes zoom {
	0% {
		transform: scale(1,1);
	}
	2.5% {
		transform: scale(1.025, 1.025);
	}
	5% {
		transform: scale(1,1);
	}
}
