.contactus {
	&__wr {
		margin-bottom: 230px;

		@include media(mobile-only) {
			margin-bottom: 100px;
		}
	}

	&__title {
		@extend %titleBlock;

		margin-bottom: 90px;
	}

	&__body {
		@include media(not-mobile) {
			align-items: flex-start;
			display: flex;
			justify-content: flex-start;
		}
	}

	&__contacts {
		@include media(desktop-only) {
			flex: 0 0 calc((100% - 50px) / 2);
			margin-right: 50px;
		}
		@include media(tablet-only) {
			flex: 0 0 calc((100% - 20px) / 2);
			margin-right: 50px;
		}

		@include media(mobile-only) {
			margin-bottom: 90px;
		}
	}

	&__feedback {
		flex: 0 1 450px;
	}

	&__titleLink {
		display: block;
		font-family: $serif;
		font-size: 24px;
		font-weight: $bold;
		margin-bottom: 10px;

		@include media(tablet-only) {
			font-size: 20px;
		}
		@include media(mobile-only) {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 5px;
		}
	}

	&__callBar,
	&__email,
	&__schedule {
		& + * {
			margin-top: 40px;

			@include media(mobile-only) {
				margin-top: 20px;
			}
		}
	}

	&__description {
		color: $red;
		font-size: 14px;
	}

	&__text {
		color: $blue-secondary;
		line-height: 24px;

		@include media(mobile-only) {
			line-height: 14px;
		}
	}

	&__feedback {
		padding: 0;
	}

	.form__formGroup {
		margin-left: 0;
	}

	.form__formGroup--submit {
		@include media(desktop-only) {
			max-width: 210px;
		}

		@include media(tablet-only) {
			max-width: 210px;
		}
	}
}
