.delivery {
	&__title {
		@extend %titleBlock;
	}

	&__article {
		& + * {
			margin-top: 100px;

			@include media(tablet-only) {
				margin-top: 40px;
			}

			@include media(mobile-only) {
				margin-top: 30px;
			}
		}

		&:last-child {
			margin-bottom: 60px;
		}
	}
}
