.catalog {
	$b: ".catalog";

	margin-bottom: 20px;
	position: relative;
	z-index: 1;

	&:hover {
		z-index: 1;
	}

	&__wr {
		max-width: 100%;
		overflow: visible;
		padding: 30px 0 0;
		position: relative;
		z-index: 0;
	}

	&__list {
		@include media(tablet-only) {
			font-size: 14px;
		}

		display: flex;
		justify-content: space-between;
		text-align: center;

		&--level2 {
			@include media(desktop-only) {
				margin-right: 20px;
			}

			@include media(tablet-only) {
				flex: 0 0 100%;
			}

			@include media(mobile-only) {
				margin-bottom: 10px;
			}

			display: flex;
			flex: 0 0 calc(((100% - 20px) / 3) * 2);
			flex-wrap: wrap;
			justify-content: flex-start;

			.catalog__menu--double & {
				flex: 0 0 calc((100% - 20px) / 3);

				@include media(tablet-only) {
					flex: 0 0 100%;
				}
			}
		}
	}

	&__item {
		@include media(not-desktop) {
			margin: 0;
		}

		display: inline-block;
		flex: 0 0 auto;
		margin: 0 calc((100% - 6 * 100px) / 12);
		padding: 0 0 20px 0;

		& + * {
			@include media(tablet-only) {
				margin: 0 0 0 30px;
			}
			@include media(mobile-only) {
				margin: 0 0 0 40px;
			}
		}

		&--level2 {
			flex: 0 0 25%;
			font-size: 16px;
			line-height: 36px;
			margin: 0;
			padding: 0 10px 10px 0;
			text-align: left;

			@include media(mobile-only) {
				flex: 0 0 50%;
				padding-bottom: 5px;
			}

			.catalog__menu--double & {
				flex: 0 0 50%;
			}
		}
	}
	&__image {
		position: relative;

		.icon-ellipse {
			#{$b}__item:hover & {
				fill: $blue-secondary;
			}
		}

		.icon {
			&-factory,
			&-chemic,
			&-water,
			&-plate,
			&-grinder,
			&-parts {
				#{$b}__item:hover & {
					fill: #fff;
				}
			}
		}
	}

	&__title {
		@include media(tablet-only) {
			font-size: 14px;
		}

		display: block;
		font-size: 16px;
		line-height: 18px;
	}

	&__menu {
		@include media(mobile-only) {
			background-color: $white;
			bottom: 0;
			left: 0;
			padding: 115px 15px 30px;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 2;
			width: 100vw;
			height: 100vh;
			border-radius: 0;
		}

		background-color: $white;
		border: 1px solid $grey-border;
		border-radius: 10px;
		box-shadow: 0px 60px 100px rgba(0, 0, 0, 0.3);
		left: 0;
		opacity: 0;
		padding: 30px;
		position: absolute;
		top: calc(100% + 50px);
		transition: all 0.1s ease-in-out;
		visibility: hidden;
		width: 100%;
		z-index: 1;

		&.is-active {
			@include transition(all, 0.25s);
			@include media(mobile-only) {
				top: 0;
			}

			opacity: 1;
			top: 100%;
			visibility: visible;
		}
	}

	&__menuWrapper {
		@include media(mobile-only) {
			display: block;
			height: 100%;
			overflow: auto;
			width: 100%;
		}

		align-items: flex-start;
		display: flex;
	}

	&__link {
		@include transition(color);

		display: block;

		&:hover {
			color: $red;
		}
	}

	&__promo {
		@include media(tablet-only) {
			display: none;
		}

		align-self: stretch;
		flex: 0 0 calc((100% - 20px) / 3);

		.catalog__menu--double & {
			flex: 0 0 calc(((100% - 20px) / 3) * 2);
			display: flex;
			justify-content: space-between;

			@include media(mobile-only) {
				display: block;
			}

			@include media(tablet-only) {
				display: none;
			}
		}
	}

	&__promoTile {
		height: 100%;
		padding: 20px;
		text-align: left;

		.catalog__menu--double & {
			margin-right: 20px;
			@include media(mobile-only) {
				margin: 0 0 20px 0;
			}
		}

		@include media(tablet-only) {
			& + * {
				.catalog__menu--double & {
					margin: 0 0 20px;
				}
			}
		}
	}

	&__closeBtn {
		@extend .header__hamburgerClose;
		@include media(mobile-only) {
			display: inline-block;
		}

		display: none;
	}
}

.promo {
	position: relative;
	z-index: 0;
	&__wr {
		@include media(desktop-small) {
			height: 550px;
		}
		@include media(not-desktop) {
			flex-direction: column;
			height: auto;
		}
		@include media(tablet-only) {
			margin-bottom: 20px;
		}
		@include media(mobile-only) {
			margin-bottom: 25px;
		}

		align-items: stretch;
		display: flex;
		height: 650px;
		margin-bottom: 40px;
	}

	&__bigBanner {
		@include media(not-desktop) {
			margin: 0 0 20px;
			width: 100%;
		}
		@include media(mobile-only) {
			margin: 0 0 10px;
		}

		margin-right: 30px;
		width: 66%;
	}

	&__smallBanners {
		@include media(tablet-only) {
			height: 240px;
			margin: 0 0 20px;
			width: 100%;
		}
	}

	&__tile {
		@include media(tablet-only) {
			float: left;
			height: 100%;
			padding: 30px 20px 20px 20px;
			width: calc((100% - 10px) / 2);
		}
		@include media(mobile-only) {
			padding: 20px;
		}

		height: calc((100% -30px) / 2);
		padding: 40px 20px 20px 30px;

		& + * {
			@include media(tablet-only) {
				margin: 0 0 0 $prodMarginMob;
			}
			@include media(mobile-only) {
				margin: $prodMarginMob 0 0 0;
			}

			margin: $prodMargin 0 0;
		}
	}
}

.promoTile {
	$b: ".promoTile";

	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	display: block;
	overflow: hidden;
	position: relative;

	&__title {
		@include media(tablet-only) {
			font-size: 14px;
			margin-bottom: 10px;
		}
		@include media(mobile-only) {
			font-size: 13px;
			margin-bottom: 10px;
		}

		color: $blue-secondary;
		font-size: 16px;
		font-weight: $regular;
		margin-bottom: 20px;
	}

	&__subtitle {
		@include media(not-desktop) {
			font-weight: $semi-bold;
		}
		@include media(tablet-only) {
			font-size: 20px;
		}
		@include media(mobile-only) {
			font-size: 16px;
			line-height: 24px;
		}

		font-family: $serif;
		font-size: 24px;
		font-weight: $semi-bold;
	}

	&__pic {
		float: right;
		height: 100%;
		max-width: 40%;
	}

	&__image {
		height: 100%;
		object-fit: contain;
		width: 100%;
	}

	&__price {
		@include media(tablet-only) {
			bottom: 20px;
			font-size: 20px;
		}
		@include media(mobile-only) {
			bottom: 33px;
			font-size: 18px;
			line-height: 20px;
			padding: 10px;
		}

		border-radius: 0 30px 30px 0;
		bottom: 40px;
		color: $white;
		font-size: 20px;
		font-weight: $bold;
		left: 0;
		padding: 15px;
		position: absolute;

		#{$b}--sales & {
			background-color: $red;
		}

		#{$b}--new & {
			background-color: $blue-secondary;
		}
	}

	&__type {
		@include media(mobile-only) {
			font-size: 10px;
			line-height: 16px;
			padding: 4px 12px;
		}

		border-radius: 80px;
		font-size: 12px;
		font-weight: $bold;
		font-weight: $bold;
		padding: 7px 17px;
		position: absolute;
		right: 15px;
		text-transform: uppercase;
		top: 15px;

		#{$b}--sales & {
			background-color: $red;
			color: $white;
		}

		#{$b}--new & {
			background-color: $white;
			border: 1px solid $grey-dark;
		}
	}

	&--sales {
		border-color: $red;
	}

	&--new {
		border-color: $blue-secondary;
	}
}

.mainSlider {
	position: relative;

	&__pic {
		display: block;
		height: 0;
		overflow: hidden;
		padding-top: 69.89%;
		position: relative;
	}

	&__img {
		border-radius: 10px;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translate(-50%, 0);
		width: 100%;
	}

	&__pagination {
		bottom: 10px;
		display: flex;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		z-index: 1;
	}

	&__prev,
	&__next {
		@include media(mobile-only) {
			display: none;
		}

		background-color: $slider-buttons;
		cursor: pointer;
		height: 50px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		z-index: 1;

		&::before {
			bottom: 0;
			content: "";
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__prev {
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		left: 0;
	}

	&__next {
		border-bottom-left-radius: 30px;
		border-top-left-radius: 30px;
		right: 0;
	}
}

.bullet {
	@include media(mobile-only) {
		height: 6px;
		width: 10px;
	}

	background-color: $white;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	height: 8px;
	width: 14px;

	&--active {
		background-color: $red;
		cursor: default;
	}

	& + * {
		@include media(mobile-only) {
			margin-left: 6px;
		}

		margin-left: 8px;
	}
}

.benefits {
	@include media(desktop-only) {
		margin-bottom: 70px;
	}
	@include media(tablet-only) {
		margin-bottom: 40px;
	}
	@include media(mobile-only) {
		margin-bottom: 20px;
	}

	&__wr {
		overflow: auto;
		padding-bottom: 20px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		@include media(mobile-only) {
			min-width: 285px;
		}

		flex: 0 0 calc((100% - (#{$prodMargin} * 3)) / 4);
		min-width: 300px;

		& + * {
			@include media(not-desktop) {
				margin-left: $prodMarginMob;
			}

			margin-left: 20px;
		}

		&::marker {
			content: none;
		}
	}

	&__itemWrapper {
		@include media(tablet-only) {
			padding: 20px 30px 20px 20px;
		}
		@include media(mobile-only) {
			padding: 10px;
		}

		align-items: center;
		background-color: $grey-sea;
		border-radius: 10px;
		display: flex;
		height: 100%;
		padding: 25px 30px 25px 20px;
	}

	&__img {
		@include media(tablet-only) {
			margin-right: 20px;
		}

		margin-right: 30px;
	}

	&__description {
		@include media(tablet-only) {
			font-size: 16px;
			line-height: 19px;
		}
		@include media(mobile-only) {
			font-size: 14px;
			line-height: 18px;
		}

		color: $blue-secondary;
		font-family: $roboto;
		font-size: 18px;
		font-weight: $medium;
		line-height: 21px;
	}
}

.salesGrid {
	$b: ".salesGrid";
	@include media(not-desktop) {
		border-radius: 20px;
	}

	background-color: $dark;
	padding: 125px 0 120px;

	&__title {
		color: $white;
		font-family: $serif;
		font-size: 36px;
		margin-bottom: 35px;
	}

	&__body {
		@include media(tablet-only) {
			margin-bottom: 30px;
		}
		@include media(mobile-only) {
			margin-bottom: $prodMarginMob;
		}
		@include media(not-desktop) {
			flex-direction: column;
		}

		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&__bigTile,
	&__smallTiles {
		@include media(desktop-only) {
			flex: 0 0 calc((100% - #{$prodMargin}) / 2);
		}
	}

	&__bigTile {
		@include media(not-desktop) {
			margin-bottom: $prodMarginMob;
		}
	}

	&__smallTiles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__productTile {
		border: 1px solid $dark;
		height: 100%;

		&--small {
			@include media(tablet-only) {
				flex: 0 0 calc((100% - #{$prodMarginMob}) / 2);
				margin-bottom: $prodMarginMob;
			}
			@include media(mobile-only) {
				flex: 0 0 100%;
				margin-bottom: $prodMarginMob;
			}

			flex: 0 0 calc((100% - #{$prodMargin}) / 2);
			max-height: calc((100% - #{$prodMargin}) / 2);

			&:nth-child(n + 3) {
				align-self: flex-end;
			}
		}
	}

	&__catalogLink {
		display: block;
		margin-bottom: 95px;
		text-align: center;
	}

	&__link {
		background-color: $white;
		border-radius: 80px;
		display: inline-block;
		min-width: 210px;
		padding: 15px 30px;
		text-align: center;
		text-transform: uppercase;
	}

	&__tabList {
		margin-bottom: 35px;
	}

	&__sliderList {
		position: relative;
	}

	&__slider {
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		visibility: hidden;
	}

	&__radio {
		&--top {
			&:checked ~ {
				& .salesGrid__tabList {
					.salesGrid__label--top {
						color: $red;
					}
				}

				& .salesGrid__sliderList {
					.salesGrid__slider--top {
						position: static;
						visibility: visible;
					}
				}
			}
		}

		&--new {
			&:checked ~ {
				& .salesGrid__tabList {
					.salesGrid__label--new {
						color: $red;
					}
				}

				& .salesGrid__sliderList {
					.salesGrid__slider--new {
						position: static;
						visibility: visible;
					}
				}
			}
		}
	}

	&__item {
		color: $white;
		float: left;

		& + * {
			margin-left: 30px;
		}
	}

	&__label {
		@include media(tablet-only) {
			font-size: 30px;
		}
		@include media(mobile-only) {
			font-size: 24px;
		}

		cursor: pointer;
		font-family: $serif;
		font-size: 36px;
	}

	&__next,
	&__prev {
		@include media(mobile-only) {
			height: 40px;
			width: 40px;
		}

		background-color: $white;
		border-radius: 50%;
		cursor: pointer;
		height: 50px;
		position: absolute;
		right: 0;
		top: -29px;
		transform: translateY(-100%);
		width: 50px;
	}

	&__prev {
		@include media(mobile-only) {
			transform: translate(-50px, -100%);
		}

		transform: translate(-60px, -100%);
	}

	&__pagination {
		bottom: -20px;
		display: flex;
		left: 50%;
		position: absolute;
		transform: translate(-50%, 100%);
	}
}

.brands {
	@include media(tablet-only) {
		padding: 80px 0 60px;
	}
	@include media(mobile-only) {
		padding: 30px 0 40px;
	}

	background-color: $grey-light;
	padding: 120px 0 100px;

	&__wr {
		overflow: auto;
		padding-bottom: 20px;
	}

	&__scrollWrapper {
		@include media(mobile-only) {
			display: flex;
			flex-flow: row nowrap;
		}
	}

	&__list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		& + * {
			@include media(not-desktop) {
				margin-top: $prodMarginMob;
			}
			@include media(mobile-only) {
				margin: 0 0 0 $prodMarginMob;
			}

			margin-top: 20px;
		}
	}

	&__item {
		@include media(not-mobile) {
			border-radius: 10px;
		}
		@include media(tablet-only) {
			flex: 0 175px;
			height: 85px;
			min-width: 175px;
		}
		@include media(desktop-small) {
			flex: 0 175px;
			height: 85px;
			min-width: 175px;
		}
		@include media(mobile-only) {
			border: 1px solid $grey-dark;
			border-radius: 5px;
			flex: 0 165px;
			height: 60px;
			min-width: 165px;
		}

		background-color: $white;
		display: flex;
		flex: 0 0 210px;
		flex-grow: 0;
		flex-shrink: 0;
		height: 100px;
		justify-content: center;

		&--urnex {
			background: $red;
		}

		& + * {
			@include media(not-desktop) {
				margin-left: $prodMarginMob;
			}
		}
	}

	&__img {
		@include media(tablet-only) {
			transform: scale(0.83, 0.83);
		}
		@include media(mobile-only) {
			transform: scale(0.8, 0.8);
		}
	}
}

.someCategory {
	@include media(tablet-only) {
		padding-bottom: 50px;
	}
	@include media(mobile-only) {
		padding-bottom: 70px;
	}

	background-color: $grey-light;
	padding-bottom: 90px;

	&__title {
		@include media(desktop-only) {
			font-size: 36px;
			margin-bottom: 40px;
		}
		@include media(tablet-only) {
			font-size: 30px;
			margin-bottom: 30px;
		}
		@include media(mobile-only) {
			font-size: 24px;
			margin-bottom: 20px;
		}

		font-family: $serif;
		font-weight: $semi-bold;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		@include media(desktop-only) {
			@include cardGrid(4, $prodMargin, $prodMargin);
		}
		@include media(tablet-only) {
			@include cardGrid(3, $prodMarginMob, $prodMarginMob);
		}
		@include media(mobile-only) {
			@include cardGrid(2, $prodMarginMob, $prodMarginMob);
		}

		position: relative;
	}

	&__tileWrapper {
		border: 1px solid $grey-border;
		border-radius: 10px;
		top: 0;
		width: 100%;

		&:hover {
			@include media(desktop-only) {
				@include transition("border-color, width, top");

				border: 1px solid $blue-secondary;
				left: 50%;
				position: absolute;
				top: -10px;
				transform: translate(-50%, 0);
				width: 105%;
				z-index: 1;
			}
		}
	}
}

.seotext {
	@include media(tablet-only) {
		padding-bottom: 20px;
	}
	@include media(mobile-only) {
		padding-bottom: 40px;
	}

	background-color: $grey-light;
	padding-bottom: 50px;

	&__wr {
		@include media(desktop-only) {
			padding: 0 120px;
		}
	}

	&__body {
		@include transition(max-height);

		color: $black;
		padding-bottom: 30px;
		position: relative;
	}

	&__text {
		@include media(tablet-only) {
			max-height: 290px;
		}
		@include media(mobile-only) {
			max-height: 510px;
		}

		height: auto;
		max-height: 260px;
		overflow: hidden;
		position: relative;

		&::after {
			@include transition(opacity);
			@include media(tablet-only) {
				background-image: linear-gradient(
					to bottom,
					rgba(0, 0, 0, 0),
					#e5e5e5
				);
			}
			@include media(mobile-only) {
				background-image: linear-gradient(
					to bottom,
					rgba(0, 0, 0, 0) 60%,
					#e5e5e5
				);
			}

			background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0),
				#e5e5e5 85%
			);
			content: "";
			height: 100%;
			opacity: 1;
			position: absolute;
			top: 0;
			width: 100%;

			.seotext__checkbox:checked + & {
				opacity: 0;
			}
		}

		.seotext__checkbox:checked + & {
			max-height: none;
		}
	}

	&__title {
		@include media(desktop-only) {
			font-size: 24px;
			max-width: 50%;
		}
		@include media(tablet-only) {
			font-size: 20px;
			max-width: 70%;
		}
		@include media(mobile-only) {
			font-size: 18px;
		}

		font-weight: $semi-bold;
		margin-bottom: 30px;
	}

	&__paragraph {
		@include media(desktop-only) {
			font-size: 16px;
		}

		font-size: 14px;
		font-weight: $regular;
		line-height: 24px;

		& + * {
			margin-top: 20px;
		}
	}

	&__button {
		bottom: 0;
		color: $red;
		cursor: pointer;
		display: inline-block;
		left: 0;
		padding: 10px 0;
		position: absolute;
		z-index: 1;
	}
}

.opened {
	filter: blur(2px);
}
