/**************************\
  Basic Modal Styles
\**************************/

.modal {
	&__overlay {
		align-items: center;
		background: rgba(0, 0, 0, 0.6);
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 10;
	}

	&__container {
		max-height: 100vh;
		overflow-y: auto;
	}

	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__title {
		box-sizing: border-box;
		color: #00449e;
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.25;
		margin-bottom: 0;
		margin-top: 0;
	}

	&__close {
		background: transparent;
		border: 0;
	}

	&__header {
		&__close:before {
			content: "\2715";
		}
	}

	&__content {
		color: rgba(0, 0, 0, 0.8);
		line-height: 1.5;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	&__btn {
		-webkit-appearance: button;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		background-color: #e6e6e6;
		border-radius: 0.25rem;
		border-style: none;
		border-width: 0;
		color: rgba(0, 0, 0, 0.8);
		cursor: pointer;
		font-size: 0.875rem;
		line-height: 1.15;
		margin: 0;
		-moz-osx-font-smoothing: grayscale;
		overflow: visible;
		padding-bottom: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 0.5rem;
		text-transform: none;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		transition: -webkit-transform 0.25s ease-out;
		transition: transform 0.25s ease-out;
		transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
		// will-change: transform;
	}

	&__btn:focus,
	&__btn:hover {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}

	&__btn-primary {
		background-color: #00449e;
		color: #fff;
	}
}
/**************************\
	Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	// will-change: transform;
}
