// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace +
			str-replace(
				str-slice($string, $index + str-length($search)),
				$search,
				$replace
			);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
	$name,
	$path,
	$weight: 400,
	$style: normal,
	$exts: eot woff2 woff ttf svg,
	$display: swap
) {
	$src: null;
	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_"),
	);
	$formats: (
		otf: "opentype",
		ttf: "truetype",
	);

	@each $ext in $exts {
		$extmod: if(
			map-has-key($extmods, $ext),
			$ext + map-get($extmods, $ext),
			$ext
		);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append(
			$src,
			url(quote($path + "." + $extmod)) format(quote($format)),
			comma
		);
	}

	@font-face {
		font-display: $display;
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// =============================================================================
// Media-query
// =============================================================================

@mixin media($breakpoint) {
	@if $breakpoint == mobile-only {
		@media only screen and (max-width: $tablet - 1) {
			@content;
		}
	} @else if $breakpoint == tablet-only {
		@media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
			@content;
		}
	} @else if $breakpoint == desktop-small {
		@media only screen and (min-width: $desktop) and (max-width: $desktop-lg - 1) {
			@content;
		}
	} @else if $breakpoint == desktop-only {
		@media only screen and (min-width: $desktop) {
			@content;
		}
	} @else if $breakpoint == not-mobile {
		@media only screen and (min-width: $tablet) {
			@content;
		}
	} @else if $breakpoint == not-desktop {
		@media only screen and (max-width: $desktop - 1) {
			@content;
		}
	}
}

// =============================================================================
// Transition settings
// =============================================================================

@mixin transition($property: all, $duration: 0.3s) {
	transition-duration: $duration;
	transition-property: unquote($property);
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

// =============================================================================
// Bage for counter
// =============================================================================

@mixin qnt($attr) {
	&:after {
		background: $red-action;
		border: 2px solid $white;
		border-radius: 20px;
		color: $white;
		content: attr($attr);
		display: inline-block;
		line-height: 1;
		padding: 2px 5px;
		position: absolute;
		transform: translate(50%, -50%);

		@content;
	}

	&[#{$attr}=""],
	&:not([#{$attr}]) {
		&:after {
			display: none;
		}
	}
}

// =============================================================================
// Grid for PLP
// =============================================================================

@function sumMarg($n, $pad) {
	@return ($n - 1) * $pad;
}

@mixin cardGrid($n: 1, $margin: 10px, $marginBottom: null) {
	$sumMarg: sumMarg($n, $margin);
	width: calc((100% - #{$sumMarg}) / #{$n});
	margin-right: $margin;
	margin-bottom: $marginBottom;
	&:nth-child(1) {
		margin-right: $margin;
	}

	@for $i from 1 through $n {
		@if ($i != 1 and $i != $n) {
			&:nth-child(#{$i}n) {
				margin-right: $margin;
			}
		} @else if ($i == $n) {
			&:nth-child(#{$i}n) {
				margin-right: 0;
			}
		}
	}
}
