//   Fonts
$serif:                      'Source Serif Pro', serif;
$sans-serif:                 'Montserrat', sans-serif;
$roboto:                     'Roboto', sans-serif;

$light:                      300;
$regular:                    400;
$medium:                     500;
$semi-bold:                  600;
$bold:                       700;

//   Colors
$dark:                       #393939;
$black:                      #000000;
$white:                      #FFFFFF;
$red:                        #D03F3C;
$red-action:                 #D10000;
$blue-primary:               #002241;
$blue-secondary:             #4D647A;
$grey-light:                 #E5E5E5;
$grey-dark:                  #D6D6D6;
$grey-border:                $grey-dark;
$grey-sea:                   #DBE0E4;
$cream:                      #F7F2F1;
$slider-buttons:             #281612;
$transparent:                rgba(255,255,255,0);

//   Media query
$tablet:                    768px;
$desktop:                   1200px;
$desktop-lg:                1450px;

//   Margins & paddings
$mobile-padding:            15px;
$padding:                   20px;
$prodMargin:                30px;
$prodMarginMob:             10px;

:root {
	--productTileOption: #{$white};
}